/node_modules
/public/hot
/public/storage
/public/uploads
/storage/*.key
/storage/app/*
/storage/framework/views/*
/storage/media-library/*
vendor
.vscode
.idea
.env
.env.backup
.phpunit.result.cache
.htaccess
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer-setup.php
.DS_Store
/resources/lang
