
/* ------ Start code by KHL ------ */
.hidden{
    display: none;
}

/* Ajax Loader */
.lds-dual-ring.hidden { 
display: none;
}
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 5% auto;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.8);
    z-index: 999999;
    opacity: 1;
    transition: all 0.5s;
}

.already-booked{
    background-color: #ff0000;
    color: #ffffff;
}

.choose-file-area {
    background-color: #ddd;
    padding: 7px 0px 0px 10px;
    margin: 0px 0px 0 0;
    cursor: pointer;
}
ul.paymentplan-area {
    display: flex;
    justify-content: flex-end; /* aligns all items to the right */
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.paymentplan-area li {
    width: 100%;

}

ul.paymentplan-area li img {
    width: 250px;
    
}

p.loc-txt {
    margin-right: 10px;
    width: 80%;
}
/* ------ End code by KHL ------ */






